header{
	background-color: black;
	color: white;
}

table{
	width: 100%;
}

header h3{
	padding-left: 35%;
	padding-top: 20px;
	font-size: 150%;
}
header p{
	padding-left: 40%;
	padding-top: 20px;
	font-weight: normal;
}

#aboutMe{
	color: #A5FFEE;
	background-color: rgb(25, 25, 25);
	
}

#aboutMe p{
	color: white;
    left: 12%;
    width: 26%;
    position: absolute;
    top: 60%;
    text-align: left;
    line-height: 1.55em;
}

#aboutMe h1{
	left: 12%;
	position: absolute;
	top: 25%;
	text-align: left;
	font: normal normal normal 72px/1.111em Open Sans,sans-serif;
	font-weight: bold;

}

#aboutMe img{
	position: relative;
	left: 50%;
	width: 50%;
	height: 30%;
}

#Projects{
	background-color: black;
}

#Projects h2{
	color: #A5FFEE;
}

#headingOne{
	background-color: lightblue;
}

#headingTwo{
	background-color: lightgrey;
}

#headingThree{
	background-color: purple;
}

#collapseOne{
	background-color: orange;
}

#collapseTwo{
	background-color: lightpink;
}

#collapseThree{
	background-color: black;
	color: white;
}

#Contact{
	background-color: rgb(25, 25, 25);
}

#Contact h2{
	color: #A5FFEE;
}

#collapseOne iframe{
	float: left;
	position: relative;
	left: 900px;
	bottom: 85px;
	border: 0;
	margin-bottom: -60px;
}

#collapseOne p{
	float: left;
	position: relative;
	left: 400px;
	top: 150px;
}

#collapseTwo iframe{
	float: left;
	position: relative;
	left: 900px;
	bottom: 85px;
	border: 0;
	margin-bottom: -60px;

}

#collapseTwo p{
	float: left;
	position: relative;
	left: 400px;
	top: 150px;
}

#collapseThree iframe{
	float: left;
	position: relative;
	left: 900px;
	bottom: 90px;
	border: 0;
	margin-bottom: -50px;	
}

#collapseThree p{
	float: left;
	position: relative;
	left: 400px;
	top: 150px;
}

@media(max-width: 640px){
	body{
		text-align: center;
	}
}

@media(max-width: 823px){
	#aboutMe h1{
		left: 10%;
		top: 6%;
	}
	#aboutMe p{
		left: 10%;
		top: 6%;
	}
}