header{
	background-color: black;
	color: white;
}

table{
	width: 100%;
}

header h3{
	padding-left: 35%;
	padding-top: 20px;
	font-size: 150%;
}
header p{
	padding-left: 40%;
	padding-top: 60px;
	font-weight: normal;
}

#aboutMe{
	color: #A5FFEE;
	background-color: rgb(25, 25, 25);
	
}

#aboutMe p{
	color: white;
	left: 190px;
	width: 460px;
	position: absolute;
	top: 444px;
	text-align: left;
	line-height: 1.55em;
}

#aboutMe h1{
	left: 190px;
	width: 460px;
	position: absolute;
	top: 188px;
	text-align: left;
	font: normal normal normal 72px/1.111em Open Sans,sans-serif;
	font-weight: bold;

}

#aboutMe img{
	position: relative;
	left: 819px;
	width: 700px;
	height: 750px;
}

#Projects{
	background-color: black;
}

#Projects h2{
	color: #A5FFEE;
}



